
.back{
    background-color: #ffffff;
    text-align: center;
   
}
tr:hover{
    color: #D2042D;
}
table{
    margin-top: 2%;
}
h1{
    line-height: 3;
    font-family: 'Montserrat', sans-serif;
    color: #1092e9;
}
thead{
    color:#1092e9;
    font-family: 'Montserrat', sans-serif;
}

h4{
    font-family: 'Kanit', sans-serif;
    font-size: 22px;
    
}


